import os
from os.path import abspath, dirname
from environs import Env

basedir = abspath(dirname(__file__))

env = Env()
env.read_env()

ENV = env.str('FLASK_ENV', default='production')
DEBUG = ENV == 'development'

SQLALCHEMY_DATABASE_URI = 'sqlite:///{}'.format(os.path.join(basedir, "YOUR-DATABASE.db"))
SQLALCHEMY_TRACK_MODIFICATIONS = False
SECRET_KEY = 'YOUR-REALLY-SECRET-KEY'
UPLOAD_FOLDER = os.path.join(basedir, "uploads")

TITLE = "Spreadsheet compiler for my organisation"
DESCRIPTION = "A simple system to compile data from departments in a spreadsheet for my organisation."
FOOTER = "Name of my organisation"
COMPILED_FILE_NAME = "Compiled Spreadsheet"
